root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[makefile]
indent_style = tab
tab_width = 4

[*.py]
indent_size = 4
indent_style = space

[*.{md,rst}]
indent_size = 2
indent_style = space

[*.{css,sass}]
indent_size = 2
indent_style = space

[*.{js,mjs,ts}]
indent_size = 2
indent_style = space

[*.html]
indent_size = 2
indent_style = space

[*.json]
indent_size = 2
indent_style = space
